@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.min.css);

body {
    font-family: Arial, Helvetica, sans-serif;
}

@layer base {
    :root {
        --background: 240 10% 3.9%;
        --foreground: 0 0% 98%;
        --card: 240 10% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 240 10% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 142 86% 28%;
        --primary-foreground: 356 29% 98%;
        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;
        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%;
        --accent: 240 3.7% 15.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 72% 51%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --ring: 142 86% 28%;
        --chart-1: 142 88% 28%;
        --chart-2: 139 65% 20%;
        --chart-3: 140 74% 24%;
        --chart-4: 137 55% 15%;
        --chart-5: 141 40% 9%;
    }
}

.st0 {
    fill: #060208;
}

.st1 {
    fill: #c9eab5;
}

.st2 {
    opacity: 0.55;
    fill: #b9dd90;
}

.st3 {
    fill: #e6f9d7;
}

.st4 {
    fill: #70c105;
}

.st5 {
    fill: #abe879;
}

.st6 {
    fill: #ff4d4d;
}

.st7 {
    fill: #00668e;
}

.st8 {
    fill: #05556d;
}

.st9 {
    fill: #f98d3d;
}

.st10 {
    fill: #ed701b;
}

.st11 {
    fill: none;
}

.st12 {
    fill: #efaa3a;
}

.st13 {
    opacity: 0.29;
    fill: #f98d2b;
}

.st14 {
    fill: #49b4d6;
}

.st15 {
    fill: #ff9f50;
}

.st16 {
    fill: #f77e2d;
}

.st17 {
    opacity: 0.55;
    fill: url(#SVGID_1_);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
    }
}

.floating-label {
    @apply block text-sm font-medium text-gray-400 mb-1;
}

.form-input {
    @apply w-full bg-gray-800 text-gray-100 border border-gray-600 px-4 py-2 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-emerald-500 transition-all duration-200;
}